html {
    padding: 10 px;
    margin: 10px;
}

startButton {
    color: blueviolet;

}

h1 {
color: rgba(9, 85, 9, 0.63);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
margin: 30px;
padding: 5rem;

}
body{
    background-color: aqua;
    text-align: center;
    margin: 30px;
    padding: 5rem;
}